$background-color: #f0f0f0;
$hover-color: #ddd;

.tabs {
  display: flex;
  background-color: $background-color;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;

  .tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: $background-color;
    font-size: 20px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }

    &.active {
      background-color: $hover-color;
    }
  }
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .team {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    text-align: center;
    font-size: 27px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    .team-logo {
      max-width: 100px;
      margin-bottom: 10px;
    }
  }
}
